{{!Begin Home Menu Item}}
<li>
	<a href="{{@blog.url}}">Home</a>
</li>
{{!End Home Item}}

{{! Copy the code below and paste it underneath to create more menu items }}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/about">About</a>
</li>
{{!End Menu Item}}
