{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="" class="icon fa-facebook-square"></a></li>
    <li><a href="" class="icon fa-twitter-square"></a></li>
    <li><a href="" class="icon fa-google-plus-square"></a></li>
</ul>
