<!DOCTYPE html>
<html>
<head>
    {{! Load all meta data via partials/init/meta.hbs }}
    {{> init/meta}}

    {{! Load your fonts in via partials/init/fonts.hbs }}
    {{>init/fonts}}

    {{! Our scripts are all found within partials/init/scripts.hbs }}
    {{>init/scripts}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body id="top" class="{{body_class}}">
    {{! Everything else gets loaded here }}
    {{{body}}}

    {{! Load footer via partials/footer/footer-default.hbs }}
    {{>footer/footer-default}}

    {{! Ghost outputs important scripts and data with this tag. }}
    {{ghost_foot}}
</body>
</html>
