{{!< default}}

{{>intro/intro-default}}

{{! Main Content on Homepage }}

<div id="main" class="container">
    <!-- Intro -->
    <div class="row 200% uniform post-loop">
        {{> "loop"}}
    </div>
</div>
