{{!< default}}

{{! This is the Home page. This is where your readers are directed from the start }}

{{! Change to intro/intro-alt for minimal intro/header. }}
{{>intro/intro-default}}

<div id="main" class="container">
    {{! The Post Loop }}
    <div class="row 200% uniform post-loop">
        {{> "loop"}}
    </div>
</div>
