{{!< default}}

{{#post}}

{{! Change to intro-post-alt for minimal intro and header }}
{{>intro/intro-post}}

<section id="main" class="container">
    <div class="row uniform">
        <div class="post-container 12u$">
            <article class="{{post_class}} single 12u$">
                <section class="post-content">{{content}}</section>
            </article>
            <hr/>
            {{>author-box}}
            <footer class="12u$">
                <hr class="major" />
                <div class="comment-area">
                    {{>comment-box}}
                </div>
            </footer>
        </div>
    </div>
</section>

{{/post}}
