@import 'vars';
@import 'mixins';

/* skel-baseline v2.0.0 | (c) n33 | getskel.com | MIT licensed */

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
        &.alt{
            padding:3em;
        }
        &.home{
		  padding: 9em 4em;
        }

		h2 {
			font-size: 2.25em;
		}

		p {
			font-size: 1.25em;
		}
	}

/* Header */

#header{
    height:3.5em;
    line-height:3.75em;
    h1{
        left:1em;
    }
}

/* Main */

	#main {
		padding: 2em 0;
	}

/* Footer */

	#footer {
		padding: 2em 0;

		.copyright {
			li {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
				display: block;
			}
		}
	}

/* Post */

.post-container{
    header{
        h2 + p{
            margin: 0 0 1em 0;
            font-size:1em;
        }
        .icons{
            display:block;
            float:none;
        }
    }

    article{
        margin:2em 0 1em 0;
    }
}

.post-content{
    text-align:justify;
}
