<!-- Main Page Intro -->
{{>header/header-default}}
<!-- Banner -->
<section id="banner" class="home" style="{{#if @blog.cover}}background:url({{@blog.cover}});background-size:cover,cover;{{else}}background-color:#fff;{{/if}}">
    <div class="banner-intro">
        <h2 class="banner-title">{{@blog.title}}</h2>
        <p class="banner-description">{{@blog.description}}</p>
        <ul class="actions">
            <li><a href="#main" class="button alt circle smooth icon fa-angle-down"></a></li>
        </ul>
    </div>
</section>
